@import "tailwindcss";

@theme inline {
  --color-primary: #0D00A4;
  --color-secondary: #240B36;
  --color-brand-red: #FC5130;
  --color-brand-black: #04052E;
  --color-brand-yellow: #FFE66D;
  
  --font-sans: var(--font-inter);
  --font-heading: var(--font-outfit);
}

:root {
  --background: #ffffff;
  --foreground: #04052E;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #04052E; /* Brand Black as background for dark mode */
    --foreground: #ffffff;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-heading), sans-serif;
}
